@import '../../styles/variables';

.CampaignItemSearch {
  cursor: pointer;
}

.card {
  background-color: rgb(0, 0, 0) !important;
  color: $mapGreen !important;
  border: 1px solid rgba(192, 192, 192, 0.8) !important;
}

.card-header {
  border-bottom: 1px solid rgba(192, 192, 192, 0.6) !important;
}
