@import '../../styles/variables';

.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar-brand,
.nav-link {
  color: tomato !important;
  font-family: $font;
  font-size: 1.5rem;
}

.navbar-nav > li:not(:last-child) {
  border-right: 2px dashed tomato;
  box-sizing: border-box;
}
