@import '../../styles/variables';

.navbar {
  background-color: rgb(0, 0, 0);
}

.navbar-brand,
.nav-link {
  color: $rpgRed !important;
  font-family: $font-primary;
  font-size: 2rem;
  .nav-link {
    font-size: 1rem !important;
  }
}

.navbar-nav > li:last-child {
  padding-left: 1rem !important;
}

.navbar-nav > li:not(:last-child) {
  border-right: 2px solid $text;
  box-sizing: border-box;
  padding: 0 1rem !important;
}

.navbar-nav > li > a {
  font-size: 1.2rem;
}

.fas {
  margin-right: 8px;
}
