@import '../../styles/variables';

.modal-content,
.rbt-menu {
  background-color: $backgrndColor !important;
  border: 1px solid silver;
}

.close {
  color: silver;
}

.form-control {
  :focus {
    color: $mapGreen !important;
  }
  ::placeholder {
    color: $rpgRed !important;
  }
}

.form-input,
.rbt-input {
  background-color: rgb(0, 0, 0) !important;
  color: $mapGreen;
}

.dropdown-item {
  color: $mapGreen;
}

.typeahead-label {
  color: $rpgRed;
}

hr {
  border-top: 1px solid rgba(80, 168, 130, 0.6);
}
