@import '../../styles/variables';

.modal-content,
.rbt-menu {
  background-color: $backgrndColor !important;
  border: 1px solid silver;
}

.modal-header,
.modal-footer {
  background-color: rgba(0, 0, 0, 1) !important;
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.35);
}

.close {
  color: silver;
  :hover {
    color: $mapGreen;
  }
}

.form-control:focus {
  color: $mapGreen !important;
}
.form-control::placeholder {
  color: $rpgRed !important;
  opacity: 0.6;
}

.form-input,
.rbt-input {
  background-color: rgb(0, 0, 0) !important;
  color: $mapGreen;
}

.dropdown-item {
  color: $mapGreen;
}

.typeahead-label {
  color: $rpgRed;
}

hr {
  border-top: 1px solid rgba(80, 168, 130, 0.6);
}
