@import '../styles/variables';

h1 {
  font-family: $font;
}

.App {
  background-image: url('./images/Drizzt.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
