@import '../../../styles/variables';

h1 {
  text-align: center;
}
.suggest-input {
  border-radius: 1.2rem;
}

.map {
  height: 500px;
}
.row {
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-button {
    display: none;
  }
  -ms-overflow-style: none;
  overflow: hidden;
}

.campaign-col {
  height: 75vh;
  overflow-y: auto;
}

.search-form {
  width: 45% !important;
}
