@import '../../styles//variables';

body {
  color: $text;
}

.map {
  height: 70vh;
  width: auto;
  border-radius: 10px;
}

.Maps {
  border: 1px solid $text;
}

.mapboxgl-map {
  opacity: 0.9;
  border: 2px solid rgba(192, 192, 192, 0.8) !important;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(192, 192, 192, 0.5);
  -moz-box-shadow: 3px 3px 0px 0px rgba(192, 192, 192, 0.5);
  box-shadow: 3px 3px 0px 0px rgba(192, 192, 192, 0.5);
}

.mapboxgl-popup-tip {
  border-top-color: rgba(72, 206, 177, 0.8) !important;
}

.mapboxgl-popup-content {
  font-family: $font-secondary;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8) !important;
  border: 1px dashed $mapGreen;
  color: $rpgRed;
}

p {
  font-size: 1.1rem;
}
